<div class="container mt-5">
    <form class=" mt-5 mb-5 " (ngSubmit)="onSubmit()" [formGroup]="schoolForm" name="myform" id="myform">
      <div class="row ">
          <div class="col">
            <p class="fs-5">FirstName:</p>
            <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="obj.firstName" placeholder="Enter Your First Name"
              id="name" aria-label="first name"
              [ngClass]="{ 'is-invalid': Submitted && f['firstName'].errors || f['firstName'].touched&& f['firstName'].errors }">
              <div *ngIf="Submitted && f['firstName'].errors|| f['firstName'].touched&& f['firstName'].errors"
              class="invalid-feedback">
              <div *ngIf="f['firstName'].errors['required']">First Name is required
              </div>
            </div>
          </div>
        <div class="col">
          <p class="fs-5">FatherName:</p>
            <input type="text" class="form-control" formControlName="fatherName"[(ngModel)]="obj.fatherName" placeholder="Enter Your FatherName" id="fathername"aria-label="fathername"
              [ngClass]="{ 'is-invalid': Submitted && f['fatherName'].errors || f['fatherName'].touched&& f['fatherName'].errors }">
               <div *ngIf="Submitted && f['fatherName'].errors|| f['fatherName'].touched&& f['fatherName'].errors"
                 class="invalid-feedback">
               <div *ngIf="f['fatherName'].errors['required']">Father Name is required
              </div>
            </div>
          </div>
      </div>
         <div class="row mt-3">
            <div class="col">
              <p class="fs-5">Gender:</p>
              <select class="form-select" formControlName="gender"[(ngModel)]="obj.gender" id="gender" aria-label="Default select example"[ngClass]="{ 'is-invalid': Submitted && f['gender'].errors || f['gender'].touched&& f['gender'].errors }">
                <option value="">choose</option>
                <option value="female">female</option>
                <option value="male">Male</option>
                </select>
                 <div *ngIf="Submitted && f['gender'].errors|| f['gender'].touched&& f['gender'].errors"
                class="invalid-feedback">
                <div *ngIf="f['gender'].errors['required']">gender is required
                </div>
                </div>
                </div>
            <div class="col">
              <p class="fs-5">Age:</p>
                 <input type="numbers" class="form-control" formControlName="age" [(ngModel)]="obj.age" placeholder="Enter Your Age" id="age" aria-label="age" [ngClass]="{ 'is-invalid': Submitted && f['age'].errors || f['age'].touched&& f['age'].errors }">
                    <div *ngIf="Submitted && f['age'].errors|| f['age'].touched&& f['age'].errors"
                      class="invalid-feedback">
                       <div *ngIf="f['age'].errors['required']">Age is required
                        </div>
                         </div>
                          </div>
                        </div>
                  <div class="row mt-3">
            <div class="col">
              <p class="fs-5"> Phonenumber:</p>
              <input type="numbers" class="form-control"formControlName="contact" [(ngModel)]="obj.contact" placeholder="Enter Your Phonenumber" id="phone"aria-label="phonenumber"
               [ngClass]="{ 'is-invalid': Submitted && f['contact'].errors || f['contact'].touched&& f['contact'].errors }">
               <div *ngIf="Submitted && f['contact'].errors|| f['contact'].touched&& f['contact'].errors"
               class="invalid-feedback">
               <div *ngIf="f['contact'].errors['required']">Phonenumber is required
              </div>
              <div *ngIf="f['contact'].errors?.['pattern']">Mobile number is not 10 digit</div>
              </div>
            </div>
            <div class="col">
              <p class="fs-5">Address:</p>
              <input type="text" class="form-control"formControlName="address"[(ngModel)]="obj.address" placeholder="Enter Your Address" id="address"
                aria-label="Address" [ngClass]="{ 'is-invalid': Submitted && f['address'].errors || f['address'].touched&& f['address'].errors }"
                > <div *ngIf="Submitted && f['address'].errors|| f['address'].touched&& f['address'].errors"
                class="invalid-feedback">
                
                <div *ngIf="f['address'].errors['required']">Address is required
                </div>
                </div>
            </div>
          <div class="row">
            <div class="col">
              <button type="submit" id="add" class="btn btn-primary  fs-5 mt-4">submit</button>
              <a href="table.html">
                <button type="submit" style="background-color:rgba(235, 120, 13, 0.884) ;"
                  class="btn fs-5 text-white  mt-4">Back To Table</button>
              </a>
            </div>
          </div>
        </div>
    </form>
    
    
  
